.well
  .row-fluid
    div: h3: a(href=post.url, itemprop="name")=post.title
    include share

  span.date #{post.date.getFullYear()} - #{post.date.getMonth()+1} - #{post.date.getDate()}
  div.post.content
    != post.content
