.post.well(itemscope itemtype="http://schema.org/BlogPosting")
  .row-fluid.clearfix
    div.pull-left
      h3: a(href=post.url, itemprop="headline")=post.title
    include share

  span.date-published(itemprop="datePublished") #{post.date.getFullYear()}-#{post.date.getMonth()+1}-#{post.date.getDate()}
  != post.content
