@import url(http://fonts.googleapis.com/css?family=Raleway);


// variables:
@fontFamily:  'Raleway', sans-serif;
@mainColor:   #690;
@lightColor:  #9c0;

@white:       #fff;
@black:       #000;
@gray:        #999;


// actual styles
body {
  background-color: #f2f2f2;
  margin-top: 80px;
  font-family: @fontFamily;
}

.my-heading { 
  padding-left: 5px; 
  a:hover .my-mustache {    
    background: url(../images/mustache64_glow.png) 0 0 no-repeat;
  }
}
.my-mustache { 
  padding-right: 10px;
  padding-left: 10px;
}

.uppercase { text-transform: uppercase; }

.well { background-color:@white; }
.post .date-published { 
  color:@gray;
  display: inline-block;
  margin-bottom: 8px;
}

a {
  color:@mainColor;
  &:hover { color:@mainColor; }
}
a.list-group-item { color:@mainColor; }

.linkland .list-group-item {
  &:hover,
  &:focus {
    background-color:@lightColor;
    color:@white;
  }
}


.share {
  .btn { margin-top:25px; }
  .icon { margin-right:5px; }
  .panel-heading { color:@gray; }
  .dropdown-menu  > li > a {
    &:hover, &:focus {        
      background-color:@lightColor;
      color:@white;
    }
  }
}

.pagination {
  & > li > a { 
    color:@lightColor;
    &:hover, &:focus { 
      background-color:@lightColor; 
      border-color:@lightColor;
      color:@white;
    }
  }
  & > .active > a {
    background-color:@mainColor;
    border-color:@mainColor;
    &:hover, &:focus { 
      background-color:@lightColor; 
      border-color:@lightColor;
    }
  }
}

@media (max-width: 992px) { 
  body { margin-top: 0; }

  .linkland { text-align: left; }
}