@import url(http://fonts.googleapis.com/css?family=Raleway);


// variables:
@fontFamily:  'Raleway', sans-serif;
@mainColor:   #690;
@lightColor:  #9c0;

@white:       #fff;
@black:       #000;
@gray:        #999;


body {
  background-color: #f2f2f2;
  margin-top: 80px;
  font-family: @fontFamily;
}

.my-heading { padding-left:15px; }
.my-name { margin-left: 10px; }

.uppercase { text-transform: uppercase; }

.well { background-color:@white; }

a {
  color:@mainColor;
  &:hover { color:@mainColor; }
}
a.list-group-item { color:@mainColor; }

.linkland {
  .list-group-item {
    &:hover,
    &:focus {
      background-color:@lightColor;
      color:@white;
    }
  }
}

.share {
  .btn { margin-top:25px; }
  .icon { margin-right:5px; }
  .panel-heading { color:@gray; }
  .dropdown-menu {
    & > li > a:hover,
    & > li > a:focus {
      background-color:@lightColor;
      color:@white;
    }
  }

}