doctype html
html(itemscope, itemtype="http://schema.org/Blog", lang="en")
  head
    title Damian Mee | Blog
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")

    //- link(rel="stylesheet", href="/stylesheets/highlight/foundation.css")
    //- link(rel="stylesheet", href="/stylesheets/highlight/idea.css")
    //- link(rel="stylesheet", href="/stylesheets/highlight/monokai.css")
    //- link(rel="stylesheet", href="/stylesheets/highlight/monokai_sublime.css")
    link(rel="stylesheet", href="/stylesheets/highlight/railscasts.css")
    //- link(rel="stylesheet", href="/stylesheets/highlight/zenburn.css")

    link(rel="stylesheet", href="/stylesheets/mystyle.min.css")

    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")

  body
    .container      
      .row
        .com-md-10.col-md-offset-2
          h3: a(href="/") 
            img(src="/images/mustache64.png")
            span Damian Mee

      .row
        .col-md-2.text-right
          ul.nav.nav-list.uppercase
            li.nav-header Projects
            - each repo in repos
              li: a(href=repo.path)=repo.name

        .col-md-10: block content
