doctype html
html(itemscope, itemtype="http://schema.org/Blog")
  head
    title Damian Mee
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/combine.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js")
    script(src='/bootstrap/js/bootstrap-dropdown.js')

  body#body
    .wrap
      .container-fluid
        .row-fluid
          .span2.offset1
            br
            br
            br
            br
            br
            br
            br
            br
            ul.nav.nav-list.uppercase.text-right
              li.nav-header Projects
              li
                a(href='/BitcoinMonitor') Bitcoin Monitor
              li
                a(href='/PrettyBinaryClock') Pretty Binary Clock
          .span7
            h3
              a.black(href='/') Damian Mee
            br
            br
            block content
