doctype html
html(itemscope, itemtype="http://schema.org/Blog", lang="en")
  head
    title Damian Mee | Blog
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block metastuff

    link(rel="author", href="https://plus.google.com/+MaurycyDamianWasilewski/")

    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")

    link(rel="stylesheet", href="/stylesheets/highlight/railscasts.css")
    //- link(rel="stylesheet", href="/stylesheets/highlight/foundation.css")
    //- link(rel="stylesheet", href="/stylesheets/highlight/idea.css")
    //- link(rel="stylesheet", href="/stylesheets/highlight/monokai.css")
    //- link(rel="stylesheet", href="/stylesheets/highlight/monokai_sublime.css")
    //- link(rel="stylesheet", href="/stylesheets/highlight/zenburn.css")

    link(rel="stylesheet", href="/stylesheets/mystyle.min.css")


  body
    .container      
      .row
        .com-md-10.col-md-offset-2
          h3: a(href="/") 
            img(src="/images/mustache64.png")
            span Damian Mee

      .row
        .col-md-2.text-right
          ul.nav.nav-list.uppercase
            li.nav-header Projects
            each repo in repos
              li: a(href=repo.path)=repo.name

        .col-md-10: block content
        
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    script (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create','UA-12389124-6','meedamian.com');ga('require','linkid','linkid.js');ga('require','displayfeatures');ga('send','pageview');
