extends layout

block metastuff
  meta(name="description", content=post.title)

block content
  include includes/postSnippet

  script.
    (function(){
      var dsq=document.createElement('script');dsq.async=true;dsq.src='//meedamian.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();

