extends layout

block metastuff
  meta(name="description", content=post.title)

block content
  include includes/postSnippet

  script.
    (function(){
      $('#disqus_thread').removeAttr('class');
      var dsq = document.createElement('script');
      dsq.async = true;
      dsq.src = '//meedamian.disqus.com/embed.js';
      ( $('head')[0] || $('body')[0] ).appendChild(dsq);
    })();

