<footer class="sep-top">
  <a class="non-link" href="https://github.com/{{site.author.github}}/{{site.author.github}}.github.io" target="_blank">
    <span>
      Hosted with
      <i class="mdi mdi-heart"></i>
      by
      <i class="mdi mdi-github-circle"></i>
    </span>
    <span id="github-repo-info">
      <span>
        <i class="mdi mdi-star"></i>
        <span id="stargazers"></span>
      </span>
      <span>
        <i class="mdi mdi-history"></i>
        <span id="history"></span>
      </span>
    </span>
  </a>
</footer>
