<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="p:domain_verify" content="58ac57589f27d39cd05a30872ef38854">
  <link rel="author" href="https://plus.google.com/+MaurycyDamianWasilewski/">
  <link rel="canonical" href="{{site.url}}{{page.url}}" />
  {% include favicons.html %}
  <meta name="application-name" content="meeDamian.com">
  <meta name="theme-color" content="#669900">

  <link href='//fonts.googleapis.com/css?family=Roboto:300,400&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.0.5/material.green-light_green.min.css" />
  <script src="//storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
  <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/stylesheets/materialdesignicons.css">

  {% if page.projects %}
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>

  <script>
    {% include angular.js %}
  </script>
  {% endif %}

  <link rel="stylesheet" href="/stylesheets/main.css" />
  <link rel="stylesheet" href="/stylesheets/railscasts.css" />
  <script>
    function loadScript(src, cb) {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = src;
      document.getElementsByTagName('head')[0].appendChild(s);
    }
    loadScript('/js/main.js');

    {% unless page.projects %}
    // add comment counts
    var disqus_shortname = 'meedamian';
    loadScript('//meedamian.disqus.com/count.js');
    {% endunless %}
  </script>

<meta property="og:image" content="/images/thumbnail.png" />
{% if page.title %}
  <meta name="description" content="{{page.title}}" />
  <meta property="og:description" content="{{page.title}}" />
{% endif %}

  <title>{% if page.title %} {{page.title}} | {% endif %}{{site.author.name}} | Blog</title>
</head>
