<header class="mdl-layout__drawer">
  <a id="logo" href="/" class="mdl-layout-title non-link">
    <img src="/images/mustache512_short.svg" alt="Mustashe you a logo" />
    <h4>{{site.author.name}}</h4>
  </a>

  <span class="socials">{% include socials.html %}</span>

  <nav class="mdl-navigation sep-top">
    <a class="mdl-navigation__link" href="/">Posts</a>
    <a class="mdl-navigation__link" href="/projects">Projects</a>
    <a class="mdl-navigation__link" href="/freelancing">Freelancing</a>
    <a class="mdl-navigation__link" href="/about">About Mee</a>
  </nav>

  {% include footer.html %}

</header>
