<section>
  <article itemscope itemtype="http://schema.org/BlogPosting">
    <h3>
      <a href="{{include.url}}" itemprop="headline">{{include.title}}</a>
      {% include share.html url=include.url path=include.path date=include.date %}
    </h3>

    <span class="post-meta">
      <span itemprop="datePublished">{{include.date | date_to_long_string}}</span>
      <span>
        <i class="mdi mdi-disqus-outline"></i>
        <span class="disqus-comment-count" data-disqus-url="http://meedamian.com{{include.url | removeTrailingSlash }}"></span>
      </span>
    </span>

    <section>{{include.content}}</section>

    <footer>{% include disqus.html url=include.url %}</footer>

  </article>
</section>
