<a href="{{ site.githubUrl }}/Pretty-Binary-Clock" class="list-group-item">Pretty Binary Clock</a>
<a href="{{ site.githubUrl }}/BitcoinMonitor" class="list-group-item">Bitcoin Monitor</a>
<a href="{{ site.githubUrl }}/Tabs-Butcher" class="list-group-item">Tabs Butcher</a>
<a href="{{ site.githubUrl }}/Weather-Happy" class="list-group-item">Weather Happy</a>
<a href="{{ site.githubUrl }}/Dvorak-Programmer" class="list-group-item">Dvorak Programmer</a>
<a href="{{ site.githubUrl }}/Chrome-Bitcoin-Monitor" class="list-group-item">Chrome Bitcoin Monitor</a>
