<div class="share">
  <button id="share-{{include.date | date: "%Y%m%d"}}" class="mdl-button mdl-js-button mdl-button--icon">
    <i class="mdi mdi-share-variant"></i>
  </button>

  <ul class="share mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
      for="share-{{include.date | date: "%Y%m%d"}}">

    <li class="mdl-menu__item"
    onclick="properShare('https://plus.google.com/share?url={{site.url | append:include.url | encodeURIComponent}}', 600, 600)">
      <i class="mdi mdi-google-plus"></i>
      <span>Share...</span>
    </li>

    <li class="mdl-menu__item"
      onclick="properShare('https://twitter.com/intent/tweet?via={{site.author.username}}&url={{site.url | append:include.url | encodeURIComponent}}', 300, 600)">
      <i class="mdi mdi-twitter"></i>
      <span>Tweet...</span>
    </li>

    <li class="mdl-menu__item"
      onclick="properShare('https://github.com/{{site.author.username}}/{{site.repo.name}}/tree/{{site.repo.branch}}/{{include.path}}')">
      <i class="mdi mdi-github-circle"></i>
      <span>Fork...</span>
    </li>

  </ul>
</div>
