<a href="https://google.com/+MaurycyDamianWasilewski?rel=author" title="Google+" target="_blank">
  <i class="mdi mdi-google-plus-box"></i>
</a>
<a href="https://twitter.com/{{site.author.username}}" title="Twitter" target="_blank">
  <i class="mdi mdi-twitter-box"></i>
</a>
<a href="https://linkedin.com/in/{{site.author.username}}/en" title="LinkedIn" target="_blank">
  <i class="mdi mdi-linkedin-box"></i>
</a>
<a href="https://github.com/{{site.author.username}}" title="Github" target="_blank">
  <i class="mdi mdi-github-box"></i>
</a>
<a href="https://play.google.com/store/apps/developer?id={{site.author.username}}" title="Play Store" target="_blank">
  <i class="mdi mdi-google-play"></i>
</a>
<a href="https://keybase.io/{{site.author.username}}" title="Keybase" target="_blank">
  <i class="mdi mdi-key"></i>
</a>
