<a href="https://google.com/+MaurycyDamianWasilewski?rel=author" class="list-group-item">Google+</a>
<a href="https://twitter.com/meeDamian" class="list-group-item">Twitter</a>
<a href="https://linkedin.com/in/meeDamian/en" class="list-group-item">LinkedIn</a>
<a href="{{ site.githubUrl }}" class="list-group-item">Github</a>
<a href="https://keybase.io/meedamian" class="list-group-item">Keybase</a>
<a href="https://play.google.com/store/apps/developer?id=meeDamian" class="list-group-item">Play Store</a>
