#stack .markdown p {
    font-family: monospace;
    text-align: left;
}
/*
fix speaking table
*/
#speaking .markdown tr:nth-child(odd) td {
    background-color: #222;
}
#speaking .markdown tr:nth-child(odd) th {
    color: #75b8c8;
}
#speaking tbody {
    color: #99a6a8;
}

#node-info {
    text-align: start;
}

#node-info .highlight {
    display: inline-block;
}


