{{ $fadeIn := or (.Site.Params.fadeIn | default true) .Site.Params.fadeInIndex }}

<section id="top" class="hero is-{{ .Site.Params.home.introHeight | default "fullheight" }}">
    <!-- Hero head section to play nice with Bulma -->
    <div class="hero-head"></div>

    {{ with .Site.GetPage "/home" }}
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="bold-title {{ if $fadeIn }}fade-in one{{ end }}">
                    {{ .Title }}
                </h1>

                <div class="subtitle is-3 {{ if $fadeIn }}fade-in two{{ end }}">
                    {{ .Content }}
                </div>

                <div class="{{ if $fadeIn }}fade-in three{{ end }}">
                    {{ partial "home/social.html" . }}
                </div>
            </div>
        </div>
    {{ end }}

    <div class="hero-foot {{ if $fadeIn }}fade-in three{{ end }}">
        {{ partial "nav.html" . }}
    </div>
</section>

