<div class="container">
    <hr/>

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>

        {{ $isHome := .Page.IsHome }}

        <div id="navMenu" class="navbar-menu {{ if $isHome }}has-content-centered{{ end }}">
            {{ if not $isHome }}
                <a class="navbar-item" href="{{ "" | relURL }}">{{ i18n "nav_main" . }}</a>
            {{ end }}

            {{ $home := .Site.GetPage "/home" }}

            {{ $pages := where ($home.Resources.ByType "page") ".Name" "ne" "contact.md" }}
            {{ $pages = $pages | append (.Site.GetPage "/blog") (.Site.GetPage "/projects") }}
            {{ $pages = sort $pages "Params.weight" }}

            {{/* append contact.md, if exists, to make sure it's always last */}}
            {{ with $home.Resources.GetMatch "contact.md" }}
                {{ $pages = $pages | append . }}
            {{ end }}

            {{ range $pages }}
                {{ $title := .Title }}
                {{ $url := .File.TranslationBaseName }}

                {{ if ne .Type "home" }}
                    {{ $url = .Title | urlize }}
                {{ end }}

                {{ $url = (printf "#%s" $url) | relURL }}

                {{ if not $isHome }}
                    {{ if eq .Kind "section" }}
                        {{ $url = .Permalink }}
                    {{ end }}

                    {{ if eq $.Page.Kind "page" }}
                        {{ if eq $.Page.Section .Section }}
                            {{ $title = i18n "nav_backToSection" . }}
                        {{ end }}
                    {{ end }}
                {{ end }}

                <a class="navbar-item" href="{{ $url }}">{{ $title }}</a>
            {{ end }}

            {{ if and .Site.Params.showRSSButton (.OutputFormats.Get "RSS") }}
                <a class="navbar-item" href="{{ (.OutputFormats.Get "RSS").Permalink }}"><i class="fas fa-rss"></i></a>
            {{ end }}
        </div>
    </nav>

    <hr/>
</div>
