<h2 class="title is-2 has-text-centered">
    {{ .Title }}
</h2>

<div class="projects-carousel-wrapper">
    <div class="projects-carousel">
        {{ range .Site.Data.projects }}
            {{ partial "project-card.html" . }}
        {{ end }}
    </div>
    
    {{/* Scroll hint indicator */}}
    <div class="scroll-hint">
        <i class="fa-solid fa-chevron-right"></i>
    </div>
</div>

<div class="container has-text-centered top-pad">
    <a href="{{ .Permalink }}">{{ i18n "index_projects_allProjects" . }}</a>
</div>
