{{ define "hero-class" }}hero is-fullheight{{ end }}

{{ define "hero" }}
    <div class="hero-head"></div>

    {{ with .Site.GetPage "/home" }}
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="bold-title fade-in one">{{ .Title | safeHTML }}</h1>

                <div class="subtitle is-3 fade-in two">{{ .Content }}</div>

                <div class="fade-in three">
                    {{ partial "home/social.html" . }}
                </div>
            </div>
        </div>
    {{ end }}

    <div class="hero-foot fade-in three">
        {{ partial "nav.html" . }}
    </div>
{{ end }}


{{ define "body" }}
    {{ $home := .Site.GetPage "/home" }}

    {{ $pages := $home.Resources.ByType "page" | append (.Site.GetPage "/blog") (.Site.GetPage "/projects") }}

    {{/* sort by weight, excluding contact.md */}}
    {{ $pages = sort (where $pages ".Name" "ne" "contact.md") "Params.weight" }}

    {{/* append contact.md, if exists, to make sure it's always last */}}
    {{ with $home.Resources.GetMatch "contact.md" }}
        {{ $pages = $pages | append . }}
    {{ end }}

    {{ range $pages }}
        {{ $id := .Title }}

        {{ if ne .File.TranslationBaseName "_index" }}
            {{ $id = .File.TranslationBaseName }}
        {{ end }}

        <section id="{{ $id | urlize }}">
            <div class="container">
                {{ if ne .Type "home" }}
                    {{ partial .Type .  }}

                {{ else if eq .Name "contact.md" }}
                    {{ partial "home/contact" . }}

                {{ else if eq .Name "bitcoin.md" }}
                    {{ partial "home/bitcoin" . }}

                {{ else if .Params.Image }}
                    {{ partial "home/section-image" . }}

                {{ else }}
                    {{ partial "home/section" . }}

                {{ end }}

                {{ partial "top-icon" . }}
            </div>
        </section>
    {{ end }}
{{ end }}

{{ define "js-extra" }}
    {{ partial "js/qr" . }}
{{ end }}
