<div class="container markdown">
    <h2 class="title is-2 has-text-centered">{{ .Title }}</h2>

    <div class="has-text-centered">{{ .Content }}</div>

    <div id="bitcoin-nodes" class="nodes">
        {{ with $.Site.Data.nodes.bitcoin }}
            {{ $nodes := slice }}
            {{ $qr := "" }}

            {{ range .list }}
                {{ if eq .name "main" }}
                    {{ $qr = .tor }}
                {{ end }}

                {{ $fmt := print "%-18s" "%-24s" "# %s" }}
                {{ $line := printf $fmt .addr .tor .name }}
                {{ $nodes = $nodes | append $line }}
            {{ end }}

            <div class="columns container">
                <div class="column is-three-quarters">
                    <h3 class="title is-3">{{ .title }}</h3>
                    <p class="subtitle is-6">{{ .description }}</p>

                    {{ print "```shell" "\n" (delimit $nodes "\n") "\n" "```" | markdownify }}
                </div>

                <figure id="btc-qr" class="column" data-pre="bitcoin-p2p://" data-payload="{{ $qr }}">
                    <div>Loading QR code…</div>
                    <figcaption>
                        <a href="bitcoin-p2p://{{ $qr }}">{{ $qr }}</a>
                    </figcaption>
                </figure>
            </div>
        {{ end }}
    </div>

    <div id="ln-nodes" class="nodes">
        {{ with $.Site.Data.nodes.ln }}
            {{ $nodes := slice }}
            {{ $qr := "" }}

            {{ range .list }}
                {{ if eq .name "main" }}
                    {{ $qr = printf "%s@%s" .pubkey .addr }}
                {{ end }}

                {{ $line := printf "# %s\n%s@%s" .name .pubkey .addr }}
                {{ $nodes = $nodes | append $line }}
            {{ end }}

            <div class="columns container">
                <figure id="ln-qr" class="column is-one-quarter" data-payload="{{ $qr }}">
                    <div>Loading QR code…</div>
                    <figcaption>
                        <a href="{{ $qr }}">{{ $qr }}</a>
                    </figcaption>
                </figure>

                <div class="column is-three-quarters">
                    <h3 class="title is-3">{{ .title }}</h3>
                    <p class="subtitle is-6">{{ .description }}</p>

                    {{ print "```shell" "\n" (delimit $nodes "\n") "\n" "```" | markdownify }}
                </div>
            </div>
        {{ end }}
    </div>

    <div id="watchtowers" class="nodes">
        {{ with $.Site.Data.nodes.watchtowers }}
            <h3 class="title is-3">{{ .title }}</h3>
            <p class="subtitle is-6">{{ .description }}</p>

            {{ $nodes := slice }}
            {{ range .list }}
                {{ $line := printf "%s@%s" .pubkey .addr }}
                {{ $nodes = $nodes | append $line }}
            {{ end }}
            {{ print "```shell" "\n" (delimit $nodes "\n") "\n" "```" | markdownify }}
        {{ end }}
    </div>
</div>
