{{ partial "home/section.html"  . }}

<div class="has-text-centered">
    {{ with .Site.Params.home }}
        {{ if .localTime }}
            <p>{{ i18n "index_currentTime" . }}
                <span id="time"
                      data-time-zone="{{ .timeZone }}"
                      data-time-format="{{ .timeFormat }}"></span>.
            </p>
        {{ end }}
    {{ end }}

    {{ with .Site.Params.email }}
        <h3 class="subtitle is-3 has-text-centered top-pad">
            <a href="mailto:{{ . }}">{{ . }}</a>
        </h3>
    {{ end }}

    {{ partial "home/social.html" . }}
</div>


