{{ $home := .Site.GetPage "/home" }}

<h2 class="title is-2 has-text-centered">{{ .Title }}</h2>

<div class="columns">
    <div class="column is-one-third has-text-centered">
        {{ with $home.Resources.GetMatch .Params.Image }}
            {{ with .Resize "320x" }}
                <img src="{{ .Permalink }}"
                     class="img-responsive avatar"
                     alt="{{ $.Param "image_title" }}"
                     title="{{ $.Param "image_title" }}">
            {{ end }}
        {{ end }}
    </div>

    <div class="markdown column">
        {{ .Content }}
    </div>
</div>

