{{ $home := .Site.GetPage "/home" }}

<h2 class="title is-2 has-text-centered">{{ .Title }}</h2>

<div class="columns">
    <div class="column is-one-third has-text-centered">
        {{ $imageResource := $home.Resources.GetMatch .Params.Image }}
        {{ if $imageResource }}
            {{ with $imageResource.Resize "320x" }}
                <div class="avatar-container">
                    <img src="{{ .Permalink }}"
                         class="img-responsive avatar"
                         alt="{{ $.Param "image_title" }}"
                         title="{{ $.Param "image_title" }}"
                         id="face-tracker-avatar">
                </div>
            {{ end }}
        {{ else if .Params.Image }}
            {{/* Fallback to static image if resource not found */}}
            <div class="avatar-container">
                <img src="/faces/gaze_px0p0_py0p0_256.webp"
                     class="img-responsive avatar"
                     alt="{{ .Param "image_title" }}"
                     title="{{ .Param "image_title" }}"
                     id="face-tracker-avatar">
            </div>
        {{ end }}
    </div>

    <div class="markdown column">
        {{ .Content }}
    </div>
</div>

