<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Blog" lang="en">

  {% include head.html %}

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer">

      <header class="mdl-layout__header mdl-layout--small-screen-only">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Damian Mee</span>
        </div>
      </header>

      {% include header.html %}

      <main class="mdl-layout__content">
        <div class="page-content">{{content}}</div>
      </main>
    </div>


    <script>
      // load Google Analytics
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create','UA-12389124-6','meedamian.com');ga('require','linkid','linkid.js');ga('require','displayfeatures');ga('send','pageview');

      {% unless page.projects %}
      // add stuff to paginator
      var p = document.getElementsByClassName('pagination')[0];
      if (p) p.innerHTML = '&lt;' + p.innerHTML + '&gt;';
      {% endunless %}
    </script>
  </body>
</html>
